<section class="row">
  <h1>Admin Dashboard</h1>
</section>
<.live_component
  module={PentoWeb.Admin.SurveyResultsLive}
  id={@survey_results_component_id}
/>
<.live_component
  module={PentoWeb.UserActivityLive}
  id={@user_activity_component_id}
/>
